# PostgreSQL
POSTGRES_USER=data_user
POSTGRES_PASSWORD=data_password
POSTGRES_DB=my_dataset

# Superset
SUPERSET_SECRET_KEY=your_superset_secret_key
DATABASE_DB=superset
DATABASE_HOST=postgres_data
DATABASE_USER=data_user
DATABASE_PASSWORD=data_password

# Airflow
AIRFLOW_WEBSERVER_SECRET_KEY=your_airflow_secret_key
AIRFLOW_DATABASE_CONN=postgresql+psycopg2://airflow:airflow@airflow_db:5432/airflow
